.wrapper {
	min-height: 90vh;
	position: relative;
	padding-bottom: 2rem;
}
body {
	padding: 0;
	margin: 0;
	font-family: Rubik, sans-serif;
	color: antiquewhite;
	background-color: rgb(34, 36, 36);
}

@media screen and (prefers-color-scheme: light) {
	body {
		background-color: white;
		color: black;
	}
}
